<nav>
  <div class="container">
    <a  class="navbar-brand">Employee app</a>
  </div>
</nav>
<!-- <app-employee></app-employee> -->

<!-- <app-login></app-login> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" routerLink="/login" >Login</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" routerLink="/employee">Add Employee</button>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>